<!DOCTYPE html>
<html>
  <head>
    <title>URV</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-50 text-slate-900">
    <div class="min-h-screen flex flex-col"
         data-controller="sidebar"
         data-sidebar-collapsed-value="false">

      <!-- ВЕРХНЯЯ ШАПКА НА ПОЛНУЮ ШИРИНУ -->
      <%= render "shared/topbar" %>

      <!-- НИЖНЯЯ ОБЛАСТЬ: Левый сайдбар + контент -->
      <div class="flex flex-1 min-h-0">
        <%= render "shared/sidebar" %>

        <main class="flex-1 min-w-0">
          <%= yield %>
        </main>
      </div>
    </div>

    <!-- модалка под Turbo -->
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
